Package: com.rango.newnowplaying
Name: NewNowPlaying
Depends: mobilesubstrate
Version: 1.2
Architecture: iphoneos-arm
Description: Enables a new and modern looking Now Playing UI in the Spotify Application.
Maintainer: Rango
Author: Yung Specht
Section: Tweaks
