Package: com.rango.newnowplaying
Name: NewNowPlaying
Depends: mobilesubstrate
Version: 1.2.1
Architecture: iphoneos-arm
Description: Enables a new and modern looking Now Playing UI in the Spotify Application.
Maintainer: Rango
Author: Yung Specht
Section: Tweaks
Depiction: https://yungspecht.github.io/depictions/?p=com.rango.newnowplaying
SileoDepiction: https://yungspecht.github.io/sileodepictions/com.rango.newnowplaying/depiction.json