Package: com.rango.newnowplaying
Name: NewNowPlaying
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: Enables a new and modern looking Now Playing UI in the Spotify Application.
Maintainer: Rango
Author: Yung Specht
Section: Tweaks
Version: 1.2.1-1+debug
Installed-Size: 156
